body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 10px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  margin-bottom: 10px;
}

.content {
  background: #e3f4ff;
  padding: 10px;
  margin-bottom: 10px;

}

.button-container {
  background: #e3f4ff;
  padding: 10px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
}